%footer#footer
  %a.appLinkFooter{:href => "https://itunes.apple.com/app/kazimir/id995212413"}
    = image_tag "appstore.svg"
  %ul.icons
    %li
      %a.i.fa.fa-twitter{:href => "https://twitter.com/KazimirApp", :target => "_blank"}
    %li
      %a.i.fa.fa-facebook{:href => "https://www.facebook.com/pages/Kazimir/802311003180902?fref=ts", :target => "_blank"}
    %li
      %a.i.fa.fa-github{:href => "https://github.com/kuzmir", :target => "_blank"}
    %li
      %a.i.fa.fa-envelope-o{:href => "mailto:kazimirapp@gmail.com"}
  %ul.copyright
    %li &copy; 2015 - Kazimir
