%footer.site-footer
  %div.container
    %p &copy; 2015 - Kazimir
%footer#footer
  %ul.icons
    %li
      %a.icon.fa-forumbee{:href => "#"}
        %span.label Twitter
    %li
      %a.icon.fa-github{:href => "#"}
        %span.label Facebook
    %li
      %a.icon.fa-dribbble{:href => "#"}
        %span.label Github
    %li
      %a.icon.fa-envelope-o{:href => "#"}
        %span.label Email
  %ul.copyright
    %li &copy; 2015 - Kazimir
