%footer.site-footer
  %div.container
    %p &copy; 2015 - Kazimir
%footer#footer
  %ul.icons
    %li
      %a.i.fa.fa-twitter{:href => "#"}
    %li
      %a.i.fa.fa-facebook{:href => "#"}
    %li
      %a.i.fa.fa-github{:href => "#"}
    %li
      %a.i.fa.fa-envelope-o{:href => "#"}
  %ul.copyright
    %li &copy; 2015 - Kazimir
