%header#header
  .flip-container#flip-toggle
    .flipper
      .front
        = image_tag "screen_new_bold.png"
      .back
        = image_tag "screen_old_bold.png"
    %button.toggleButton{:onclick => "document.querySelector('#flip-toggle').classList.toggle('hover');"}
