%header.site-header
  %div.navbar.navbar-default.navbar-static-top
    %div.container
      %div.navbar-header
        = link_to root_path, class: 'navbar-brand' do
          KazimirApp

      %div#nav-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.left
          %li= link_to "Homepage", root_path
