%div.page-header
  %h1
    = @place.name
    %small
      \/
      Edit photo

  %nav
    %ul.nav.nav-pills
      %li= link_to "Back to place photos", admin_place_photos_path(@place)

%div.page-content
  %div.alert.alert-info
    %p You can replace photo, by uploading new file. If you don't upload new file, the photo will stay the same.
  = render partial: 'admin/photos/form', locals: {place: @place, photo: @photo}
