%div.page-header
  %h1
    = @place.name
    %small
      \/ Manage photos

  %nav
    %ul.nav.nav-pills
      %li= link_to "Back to place details", admin_street_place_path(@place.street, @place)

%div.page-content
  = render partial: 'admin/photos/list', locals: {photos: @place.photos}
  %div.well
    %h4 Add new photo
    = render partial: 'admin/photos/form', locals: {place: @place, photo: @photo}
