%div.page-header
  %h1
    = @street.name
    %small
      Add new place

  %nav
    %ul.nav.nav-pills
      %li= link_to "Show street details", admin_street_path(@street)

%div.page-content
  = render partial: 'form', locals: {street: @street, place: @place}
