@import "bootstrap-sprockets";
@import "bootstrap";


.page-header{

  position: relative;

  nav{
    position: absolute;
    right: 0;
    top: 0;
  }
}


#map{
  width: 100%;
  height: 470px;
  margin: 0 0 12px 0;
}

.line-point{
  margin: 0 5px 5px 0;
}
