%div.page-header
  %h1 Listing streets

%div.page-content

  - if @streets
    - @streets.each do |street|
      %div.media
        %div.media-left
          = link_to street do
            %img{src: 'http://placehold.it/350x150', alt: street.name}
        %div.media-body
          %h3= link_to street.name, street
          = simple_format street.description
  - else
    %p No streets found yet
