%div.page-header
  %h1= "Ulica #{@street.name}"

%div.page-content

  %div.street-header
    %img{src: 'http://placehold.it/1140x350', alt: @street.name}

  %div.street-content
    = simple_format @street.description
