.site-header{
	position: relative;

	.brand-logo{
		position: absolute;
		left: 35%;
		top: 120px;
		margin-left: 8em;
	}

	.navigation{
		position: absolute;
		right: 14%;
  		top: 50px;
		font-size: 18px;
  		padding: 5px 8px;
  		a {
  			color: #77787a;
  			padding: 10px;
  		}
		a:hover, a:focus {
			text-decoration: none;
			color: #222222;
		}
	}

}
@media(max-width: $screen-xs-max) {
	.site-header{
		padding: 10px 0;
		.brand-logo{
			position: relative;
			left: 0;
			top: 0;
			margin-left: 10px;
		}
		.navigation{
			position: relative;
			top: auto;
			font-size: 16px;
			left: 0;
			padding-top: 15px;
			a:first-child {
				padding-left: 0;
			}
		}
	}

}
@media(max-width: 992px) {
	.site-header{
		padding: 10px 0;
		.brand-logo{
			position: relative;
			left: 0;
			top: 0;
			margin-left: 10px;
		}
		.navigation{
			right: 0;
			padding-top: 15px;
			top: 0;
			a:last-child {
				padding-right: 0;
			}
		}
	}

}
.appLinks {
	display: inline-block;
	margin: 20px 0;
	a {
		position: relative;
		&.googlestore {
			left: 35px;
		}
	}
}
.prLogo {
	text-align: right;
  position: relative;
  right: 0;
}
