#main {
	margin-left: 35%;
	max-width: 54em;
	padding: 8em 0em 4em 8em;
	width: calc(100% - 40%);
	.major {
		.subtitle {
			font-size: 14px;
			font-weight: 700;
			padding-top: 10px;
		}
	}
}
.content-section {
	padding-bottom: 8%;
	border-bottom: 1px solid #eee;
}
.logotyp-content {
	padding-top: 30px;
}
.link-image {
	img {
		width: 100%;
		border-radius: 0.35em;
		display: block;
	}
	a {
		&:hover {
			img {
				opacity: 0.8;
			}
			
		}
	}
}
.section-title {
	text-transform: uppercase;
	padding: 20px 0;
}
.contact-form {
	padding-top: 10px;
}
.email-input,
.submit-btn {	
	min-height: 30px;
	border-radius: 3px;	
}
.email-input {	
	width: 40%;
	border: 1px solid #eee;
}
.submit-btn {
	width: 15%;
	border: none;
	text-transform: uppercase;
	color: #747474;
	font-size: 11px;
	vertical-align: top;
}