#main {
	margin-left: 35%;
	max-width: 58em;
	padding: 8em 4em 4em 8em;
	width: calc(100% - 40%);

	.major {
		.subtitle {
			font-size: 16px;
			font-weight: 400;
			padding-top: 10px;
		}
	}

	@media(max-width: $screen-sm-max) {
		margin: 0;
		padding: 2em;
		width: 100%;
		max-width: 100%;
	}

	@media(max-width: $screen-xs-max) {
		padding: 2em 1em;
		.row {
			margin: 0;
		}
	}
}

.page-intro{
	margin: 0 0 30px 0;
}

.page-content, .intro-content{

	padding: 0 0 20px 0;
	border-bottom: 1px solid #eee;

	h3{
		text-transform: uppercase;
		font-size: $font-size-h4;
	}

}

.link-image {
	padding: 10px;
	img {
		width: 100%;
		border-radius: 0.35em;
		display: block;
	}
	a {
		&:hover {
			img {
				opacity: 0.8;
			}

		}
	}
	.link-subtitle {
		padding: 10px 0;
		font-size: 14px;
	}
}
.links-section {
	margin-top: 15px;
}
.section-title {
	text-transform: uppercase;
	padding: 30px 0 5px 0;
}
