= simple_form_for([:admin, street]) do |f|

  %fieldset
    %legend Street details

    = f.input :name, label: "Street name", hint: "The name of street (without Street or Ulica)"
  = render partial: 'admin/streets/map_field', locals: {street: street, f: f}

  %div.form-actions
    = f.button :submit, class: 'btn-primary'
